<div class="ss-form">
<form action="https://docs.google.com/forms/d/1uwLy9IK0lJi5fVhNAKE33wNjOl1wNaFBltwRhUFvRN0/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
<ol style="padding-left: 0">
<div class='require'>* = Your answer has a direct effect on the roast. No pressure.</div>
<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_556833622"><div class="ss-q-title">Are you vegetarian?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Are you vegetarian?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1649875253" value="Yes" id="group_1649875253_1" role="radio" class="ss-q-radio required" aria-label="Yes" required=""></span>
<span class="ss-choice-label">Yes</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1649875253" value="No" id="group_1649875253_2" role="radio" class="ss-q-radio" aria-label="No" required=""></span>
<span class="ss-choice-label">No</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1649875253" value="I am vegan" id="group_1649875253_3" role="radio" class="ss-q-radio" aria-label="I am vegan" required=""></span>
<span class="ss-choice-label">I am vegan</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_370988969"><div class="ss-q-title">Do you have any other food restrictions?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Do you have any other food restrictions?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1955972434" value="No" id="group_1955972434_1" role="radio" class="ss-q-radio" aria-label="No"></span>
<span class="ss-choice-label">No</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1955972434" value="__other_option__" id="group_1955972434_2" role="radio" class="ss-q-radio ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1955972434.other_option_response" value="" class="ss-q-other" id="entry_1955972434_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_468173383"><div class="ss-q-title">We welcome sides, desserts, booze, firewood, guitars (rest assured they will not be part of the fire), etc. What can you bring?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.468173383" value="" class="ss-q-short" id="entry_468173383" dir="auto" aria-label="We welcome sides, desserts, booze, firewood, etc. What are you thinking of bringing?  " aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1536553897"><div class="ss-q-title">What's your email? We'll send the location to you. (No unauthorized third-party use #whatsoever)
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1536553897" value="" class="ss-q-short" id="entry_1536553897" dir="auto" aria-label="What's your email? We'll send the location to you. (No unauthorized third-party use #whatsoever)  " title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Done" id="ss-submit">
<div class="ss-secondary-text">Never submit passwords through Google Forms.</div></td>
</tr></tbody></table></div></ol></form></div>